{
    "users": {
        "Wouter": "test-pwd",
    },
    "user_id": {
        "Wouter": 123
    },
    "blocked_users": {
        "Wouter": 456
    },
    "notify_list": {
        "123": 123
    }
}
