[Unit]
Description=Plex Download Bot
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
WorkingDirectory=/root/scripts/plex-download-bot
ExecStart=/root/scripts/plex-download-bot/env/bin/python /root/scripts/plex-download-bot/main.py --env live
KillMode=process
Restart=on-failure
RestartSec=10
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
Alias=plex-download-bot.service
